<style>
  .ref .num {
    width:55px;
    text-align:left;
    vertical-align:top;
    display:inline-block;
    box-sizing:border-box;
  }
  .ref .text {
    width:calc(100% - 55px);
    text-align:justify;
    text-justify:inter-word;
    vertical-align:top;
    display:inline-block;
    box-sizing:border-box;
  }
  .iconDetails {
    float:left;
    height:auto;
    width:33%;
    max-width:175px;
  }
  .careermap {
    float:left;
    height:auto;
    width:100%;
    max-width:1400px;
  }
  p.clear {
    clear:left;
  }
  .ref .contact {
    width:100px;
    text-align:left;
    vertical-align:top;
    display:inline-block;
    box-sizing:border-box;
    margin-top:0px;
    margin-bottom:0px;
  }
  .ref .contactText {
    width:calc(100% - 100px);
    text-align:left;
    vertical-align:top;
    display:inline-block;
    box-sizing:border-box;
    margin-top:0px;
    margin-bottom:0px;
  }
</style>
<p>
  This page was created by Trong-Thuc Hoang.<br>
  The page first is for my self-study, second is for helping newcomers to computer science.
</p>
<b>Facility:</b><br>
<p><i>(Assistant Professor)</i>&nbsp;&nbsp;&nbsp;The University of Electro-Communications (UEC), Tokyo, Japan.</p>
<b>UEC website:</b>&nbsp;&nbsp;&nbsp;&nbsp;
<i><a href="https://researchers.uec.ac.jp/search/detail?systemId=44d3f51ecb49fe5a520e17560c007669&lang=en">link</a></i><br><br>
<b>Contact:</b><div class="ref">
  <div class="contact"><p><i>
    (UEC)<br>
    (personal)
  </i></p></div><div class="contactText"><p>
    hoangtt@uec.ac.jp<br>
    trongthuc.hoang@gmail.com
  </p></div>
</div>
<h2 id="biography">
  Biography
</h2>
<img src="/assets/images/banners/profile.jpg" class="iconDetails">
<p align="justify" class="clear"><br>
  Trong-Thuc Hoang received a B.Sc. degree and an M.S. degree in Electronic Engineering from the University of Science (HCMUS), Hochiminh city, Vietnam, in 2012 and 2017, respectively. In 2022, he graduated from the University of Electro-Communications (UEC), Tokyo, Japan, with a Ph.D. degree in Engineering. From 2012 to 2017, he was a lecturer assistant at HCMUS. From 2019 to 2020, he was a research assistant at UEC. From 2019 to 2022, he was a research assistant at the Cyber-Physical Security Research Center (CPSEC), National Institute of Advanced Industrial Science and Technology (AIST), Tokyo, Japan. Since April of 2022, he has been an assistant professor at the Department of Computer and Network Engineering, UEC, Tokyo, Japan. His research interest mainly focuses on digital signal processing, computer architecture, cyber-security, ultra-low power circuit, and system-on-chip.
</p>
<img src="/assets/images/banners/career.jpg" class="careermap"><br clear="all"/>
<h2 id="publication"><br>
  Publication
</h2>
<p>
  Journal (J): 34.&nbsp;&nbsp;&nbsp;Conference (C): 46.&nbsp;&nbsp;&nbsp;Other (O): 6.&nbsp;&nbsp;&nbsp;Total (J+C): 80
  <br><a href="https://orcid.org/0000-0002-4078-0836">[ORCID]</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.scopus.com/authid/detail.uri?authorId=56024762000">[Scopus]</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://researchmap.jp/thuchoang">[Researchmap]</a>
</p>
<h3 id="2023">
  2023
</h3>
<div class="ref">
  <div class="num">
    [C.46]
  </div><div class="text"><p>
    Van-Phuc Hoang, Ngoc-Tuan Do, <u>Trong-Thuc Hoang</u>, and Cong-Kha Pham, "Revealing Secret Key from Low Success Rate Deep Learning-Based Side Channel Attacks," in <i>Proc. of IEEE Int. Symp. on Embedded Multicore/Many-core Syst.-on-Chip (MCSoC)</i>, Singapore, Dec. 2023, pp. 9-14. <a href="https://doi.org/10.1109/MCSoC60832.2023.00010">[DOI]</a>
  </p></div>
  <div class="num">
    [C.45]
  </div><div class="text"><p>
    Tan-Phat Dang, Tuan-Kiet Tran, <u>Trong-Thuc Hoang</u>, Cong-Kha Pham, and Huu-Thuan Huynh, "The Efficiency of High-performance SHA-3 Accelerator on the System Level," in <i>Proc. of Int. Symp. on Electrical and Electronics Engi. (ISEE)</i>, Hochiminh city, Vietnam, Oct. 2023, pp. 7-12. <a href="https://doi.org/10.1109/ISEE59483.2023.10299846">[DOI]</a>
  </p></div>
  <div class="num">
    [C.44]
  </div><div class="text"><p>
    Huu-Thuan Huynh, Tan-Phat Dang, <u>Trong-Thuc Hoang</u>, Cong-Kha Pham, and Tuan-Kiet Tran, "An Efficient Cryptographic Accelerators for IoT System Based on Elliptic Curve Digital Signature," in <i>Proc. of Intelligent Systems and Data Science (ISDS)</i>, Can Tho, Vietnam, Nov. 2023, pp. 106-118. <a href="https://doi.org/10.1007/978-981-99-7666-9_9">[DOI]</a>
  </p></div>
  <div class="num">
    [C.43]
  </div><div class="text"><p>
    Trong-Hung Nguyen, Cong-Kha Pham, and <u>Trong-Thuc Hoang</u>, "A High-Speed Barret-Based Modular Multiplication with Bit-Correction for the CRYSTAL-KYBER Cryptosystem," in <i>Proc. of Intelligence of Things: Tech. and Appl. (ICIT)</i>, Hochiminh city, Vietnam, Oct. 2023, pp. 191-199. <a href="https://doi.org/10.1007/978-3-031-46749-3_19">[DOI]</a>
  </p></div>
  <div class="num">
    [C.42]
  </div><div class="text"><p>
    Tan-Phat Dang, Tuan-Kiet Tran, <u>Trong-Thuc Hoang</u>, Cong-Kha Pham, and Huu-Thuan Huynh, "A High-Performance Pipelined FPGA-SoC Implementation of SHA3-512 for Single and Multiple Message Blocks," in <i>Proc. of Intelligence of Things: Tech. and Appl. (ICIT)</i>, Hochiminh city, Vietnam, Oct. 2023, pp. 288-298. <a href="https://doi.org/10.1007/978-3-031-46573-4_27">[DOI]</a>
  </p></div>
  <div class="num">
    [C.41]
  </div><div class="text"><p>
    Tuan-Kiet Tran, Tan-Phat Dang, <u>Trong-Thuc Hoang</u>, Cong-Kha Pham, and Huu-Thuan Huynh, "Optimizing ECC Implementations Based on SoC-FPGA with Hardware Scheduling and Full Pipeline Multiplier for IoT Platforms," in <i>Proc. of Intelligence of Things: Tech. and Appl. (ICIT)</i>, Hochiminh city, Vietnam, Oct. 2023, pp. 299-309. <a href="https://doi.org/10.1007/978-3-031-46573-4_28">[DOI]</a>
  </p></div>
  <div class="num">
    [O.6]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u> and Cong-Kha Pham, "RISC-V Trusted Platform Module (TPM) and Trusted Execution Environment (TEE)," <i>Keynote in Symp. on Comp. Science and Engi. (SCSE)</i>, Hochiminh city, Vietnam, Oct. 2023. <a href="/assets/pp/2023_SCSE_Keynote.pdf">[PDF]</a>
  </p></div>
  <div class="num">
    [J.34]
  </div><div class="text"><p>
    Trong-Hung Nguyen, Cong-Kha Pham, and <u>Trong-Thuc Hoang</u>, "A High-Efficiency Modular Multiplication Digital Signal Processing for Lattice-Based Post-Quantum Cryptography," in <i>Cryptography</i>, vol. 7, no. 4, pp. 1-17, Sep. 2023. <a href="https://doi.org/10.3390/cryptography7040046">[DOI]</a>
  </p></div>
  <div class="num">
    [J.33]
  </div><div class="text"><p>
    Duc-Thuan Dam, Thai-Ha Tran, Van-Phuc Hoang, Cong-Kha Pham, and <u>Trong-Thuc Hoang</u>, "A Survey of Post-Quantum Cryptography: Start of a New Race," in <i>Cryptography</i>, vol. 7, no. 3, pp. 1-18, Aug. 2023. <a href="https://doi.org/10.3390/cryptography7030040">[DOI]</a>
  </p></div>
  <div class="num">
    [J.32]
  </div><div class="text"><p>
    Thai-Ha Tran, Ba-Anh Dao, <u>Trong-Thuc Hoang</u>, Van-Phuc Hoang, and Cong-Kha Pham, "Transition Factors of Power Consumption Models for CPA Attacks on Cryptographic RISC-V SoC," in <i>IEEE Trans. on Comp.</i>, vol. 72, no. 9, pp. 2689-2700, Mar. 2023. <a href="https://doi.org/10.1109/TC.2023.3262926">[DOI]</a>
  </p></div>
  <div class="num">
    [C.40]
  </div><div class="text"><p>
    Ronaldo Serrano, Marco Sarmiento, Ckristian Duran, Tuan-Kiet Dang, <u>Trong-Thuc Hoang</u>, and Cong-Kha Pham, "In-NVRAM Unified PUF and TRNG Based on Standard CMOS Technology," in <i>Proc. of IEEE Int. Symp. on Circ. and Syst. (ISCAS)</i>, Monterey, CA, USA, May 2023, pp. 1-5. <a href="https://doi.org/10.1109/ISCAS46773.2023.10181362">[DOI]</a>
  </p></div>
  <div class="num">
    [C.39]
  </div><div class="text"><p>
  Thai-Ha Tran, Anh-Tien Le, <u>Trong-Thuc Hoang</u>, Van-Phuc Hoang, and Cong-Kha Pham, "Dynamic Gold Code-Based Chaotic Clock for Cryptographic Designs to Counter Power Analysis Attacks," in <i>Proc. of the Great Lakes Symp. on VLSI (GLVLSI)</i>, Knoxville, TN, USA, Jun. 2023, pp. 439-442. <a href="https://doi.org/10.1145/3583781.3590295">[DOI]</a>
  </p></div>
  <div class="num">
    [J.31]
  </div><div class="text"><p>
  Khai-Minh Ma, Duc-Hung Le, Cong-Kha Pham, and <u>Trong-Thuc Hoang</u>, "Design of an SoC Based on 32-Bit RISC-V Processor with Low-Latency Lightweight Cryptographic Cores in FPGA," in <i>Future Internet</i>, vol. 15, no. 5, pp. 1-20, May 2023. <a href="https://doi.org/10.3390/fi15050186">[DOI]</a>
  </p></div>
  <div class="num">
    [J.30]
  </div><div class="text"><p>
	Binh Kieu Do-Nguyen, Cuong Pham-Quoc, Ngoc-Thinh Tran, Cong-Kha Pham, and <u>Trong-Thuc Hoang</u>, "Multi-Functional Resource-Constrained Elliptic Curve Cryptographic Processor," in <i>IEEE Access</i>, vol. 11, pp. 4879-4894, Jan. 2023. <a href="https://doi.org/10.1109/ACCESS.2023.3236406">[DOI]</a>
  </p></div>
  <div class="num">
    [J.29]
  </div><div class="text"><p>
	Anh-Tien Le, <u>Trong-Thuc Hoang</u>, Ba-Anh Dao, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "A Cross-process Spectre Attack via Cache on RISC-V Processor with Trusted Execution Environment," in <i>Comp. and Elec. Engi.</i>, vol. 105, no. 1, pp. 108546, Jan. 2023. <a href="https://doi.org/10.1016/j.compeleceng.2022.108546">[DOI]</a>
  </p></div>
</div>
<h3 id="2022">
  2022
</h3>
<div class="ref">
  <div class="num">
    [O.5]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, "Ultra-Low-Power (ULP) System-on-Chip (SoC) for Internet-of-Things (IoT) Edge Computing," in <i>Proc. of Vietnamese Academic Network in Japan (VANJ)</i>, Tokyo, Japan, Nov. 2022. <a href="/assets/pp/2022_VANJ.pdf">[PDF]</a>
  </p></div>
  <div class="num">
    [C.38]
  </div><div class="text"><p>
    Tuan-Kiet Dang, Ronaldo Serrano, <u>Trong-Thuc Hoang</u>, and Cong-Kha Pham, "A Novel Ring Oscillator PUF for FPGA Based on Feedforward Ring Oscillators," in <i>Proc. of Int. SoC Design Conf. (ISOCC)</i>, Gangneung-si, South Korea, Oct. 2022, pp. 87-88. <a href="https://doi.org/10.1109/ISOCC56007.2022.10031300">[DOI]</a>
  </p></div>
  <div class="num">
    [C.37]
  </div><div class="text"><p>
    Ronaldo Serrano, Marco Sarmiento, Ckristian Duran, <u>Trong-Thuc Hoang</u>, and Cong-Kha Pham, "A 3.65 Gb/s Area-Efficiency ChaCha20 Cryptocore," in <i>Proc. of Int. SoC Design Conf. (ISOCC)</i>, Gangneung-si, South Korea, Oct. 2022, pp. 79-80. <a href="https://doi.org/10.1109/ISOCC56007.2022.10031398">[DOI]</a>
  </p></div>
  <div class="num">
    [J.28]
  </div><div class="text"><p>
    Ronaldo Serrano, Ckristian Duran, Marco Sarmiento, Tuan-Kiet Dang, <u>Trong-Thuc Hoang</u>, and Cong-Kha Pham, "A Unified PUF and Crypto Core Exploiting the Metastability in Latches," in <i>Future Internet</i>, vol. 14, no. 10, pp. 1-12, Oct. 2022. <a href="https://doi.org/10.3390/fi14100298">[DOI]</a>
  </p></div>
  <div class="num">
    [O.4]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Ba-Anh Dao, Anh-Tien Le, Van-Phuc Hoang, and Cong-Kha Pham, "Tutorial: RISC-V Computer System Designed for Cyber-Security," in <i>Proc. of Int. Conf. on IC Design and Tech. (ICICDT)</i>, Hanoi, Vietnam, Sep. 2022. <a href="/assets/pp/2022_ICICDT.pdf">[PDF]</a>
  </p></div>
  <div class="num">
    [C.36]
  </div><div class="text"><p>
    Binh Kieu-Do-Nguyen, Dang Tuan Kiet, <u>Trong-Thuc Hoang</u>, Katsumi Inoue, Toshinori Usugi, Masanori Odaka, Shuichi Kameyama, and Cong-Kha Pham, "High-speed FPGA-based Design and Implementation of Text Search Processor," in <i>Proc. of Int. Conf. on IC Design and Tech. (ICICDT)</i>, Hanoi, Vietnam, Sep. 2022, pp. 109-112. <a href="https://doi.org/10.1109/ICICDT56182.2022.9933111">[DOI]</a>
  </p></div>
  <div class="num">
    [C.35]
  </div><div class="text"><p>
    Dang Tuan Kiet, Khai-Duy Nguyen, Nguyen Quang Nhu Quynh, <u>Trong-Thuc Hoang</u>, and Cong-Kha Pham, "A System-on-Chip for IoT Applications with 16-bit Tiny Processor," in <i>Proc. of Int. Conf. on IC Design and Tech. (ICICDT)</i>, Hanoi, Vietnam, Sep. 2022, pp. 44-47. <a href="https://doi.org/10.1109/ICICDT56182.2022.9933071">[DOI]</a>
  </p></div>
  <div class="num">
    [C.34]
  </div><div class="text"><p>
    Binh Kieu-Do-Nguyen, <u>Trong-Thuc Hoang</u>, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "High-performance Multi-function HMAC-SHA2 FPGA Implementation," in <i>Proc. of IEEE Int. NEWCAS Conf. (NEWCAS)</i>, Quebec City, QC, Canada, Jun. 2022, pp. 30-34. <a href="https://doi.org/10.1109/NEWCAS52662.2022.9842174">[DOI]</a>
  </p></div>
  <div class="num">
    [J.27]
  </div><div class="text"><p>
    Serrano Ronaldo, Ckristian Duran, Marco Sarmiento, Cong-Kha Pham, and <u>Trong-Thuc Hoang</u>, "ChaCha20–Poly1305 Authenticated Encryption with Additional Data for Transport Layer Security 1.3," in <i>Cryptography</i>, vol. 6, no. 2, pp. 1-12, Jun. 2022. <a href="https://doi.org/10.3390/cryptography6020030">[DOI]</a>
  </p></div>
  <div class="num">
    [C.33]
  </div><div class="text"><p>
    Anh-Tien Le, <u>Trong-Thuc Hoang</u>, Ba-Anh Dao, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "Spectre Attack Detection with Neutral Network on RISC-V Processor," in <i>Proc. of Int. Symp. on Circ. and Syst. (ISCAS)</i>, Austin, TX, USA, May 2022, pp. 2467-2471. <a href="https://doi.org/10.1109/ISCAS48785.2022.9937212">[DOI]</a>
  </p></div>
  <div class="num">
    [J.26]
  </div><div class="text"><p>
    Binh Kieu-Do-Nguyen, Cuong Pham-Quoc, Ngoc-Thinh Tran, Cong-Kha Pham, and <u>Trong-Thuc Hoang</u>, "Low-Cost Area-Efficient FPGA-Based Multi-Functional ECDSA/EdDSA," in <i>Cryptography</i>, vol. 6, no. 2, pp. 1-13, May 2022. <a href="https://doi.org/10.3390/cryptography6020025">[DOI]</a>
  </p></div>
  <div class="num">
    [J.25]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Ckristian Duran, Ronaldo Serrano, Marco Sarmiento, Khai-Duy Nguyen, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "Trusted Execution Environment Hardware by Isolated Heterogeneous Architecture for Key Scheduling," in <i>IEEE Access</i>, vol. 10, pp. 46014-46027, Apr. 2022. <a href="https://doi.org/10.1109/ACCESS.2022.3169767">[DOI]</a>
  </p></div>
  <div class="num">
    [J.24]
  </div><div class="text"><p>
    Ronaldo Serrano, Ckristian Duran,  Marco Sarmiento, <u>Trong-Thuc Hoang</u>, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "A Robust and Healthy Against PVT Variations TRNG Based on Frequency Collapse," in <i>IEEE Access</i>, vol. 10, pp. 41852-41862, Apr. 2022. <a href="https://doi.org/10.1109/ACCESS.2022.3167690">[DOI]</a>
  </p></div>
  <div class="num">
    [J.23]
  </div><div class="text"><p>
    Marco Sarmiento, Khai-Duy Nguyen, Ckristian Duran, Ronaldo Serrano, <u>Trong-Thuc Hoang</u>, Koichiro Ishibashi, and Cong-Kha Pham, "Systems on a Chip With 8 and 32 Bits Processors in 0.18-μm Technology for IoT Applications," in <i>IEEE Trans. on Circ. and Syst. II: Express Briefs (TCAS-II)</i>, vol. 69, no. 5, pp. 2438-2442, Mar. 2022. <a href="https://doi.org/10.1109/TCSII.2022.3161494">[DOI]</a>
  </p></div>
  <div class="num">
    [J.22]
  </div><div class="text"><p>
    Ryuichi Tsutada, <u>Trong-Thuc Hoang</u>, and Cong-Kha Pham, "An Obstacle Avoidance Two-Wheeled Self-Balancing Robot," in <i>Int. Journal of Mechanical Engi. and Robotics Research (IJMERR)</i>, vol. 11, no. 1, pp. 1-7, Jan. 2022. <a href="https://doi.org/10.18178/IJMERR.11.1.1-7">[DOI]</a>
  </p></div>
</div>
<h3 id="2021">
  2021
</h3>
<div class="ref">
  <div class="num">
    [J.21]
  </div><div class="text"><p>
    Anh-Tien Le, <u>Trong-Thuc Hoang</u>, Ba-Anh Dao, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "A Real-Time Cache Side-Channel Attack Detection System on RISC-V Out-of-Order Processor," in <i>IEEE Access</i>, vol. 9, pp. 164597–164612, Dec. 2021. <a href="https://doi.org/10.1109/ACCESS.2021.3134256">[DOI]</a>
  </p></div>
  <div class="num">
    [J.20]
  </div><div class="text"><p>
    Ba-Anh Dao, <u>Trong-Thuc Hoang</u>, Anh-Tien Le, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "Correlation Power Analysis Attack Resisted Cryptographic RISC-V SoC With Random Dynamic Frequency Scaling Countermeasure," in <i>IEEE Access</i>, vol. 9, pp. 151993-152014, Nov. 2021. <a href="https://doi.org/10.1109/ACCESS.2021.3126703">[DOI]</a>
  </p></div>
  <div class="num">
    [C.32]
  </div><div class="text"><p>
    Ronaldo Serrano, Ckristian Duran, <u>Trong-Thuc Hoang</u>, Marco Sarmiento, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "ChaCha20-Poly1305 Crypto Core Compatible with Transport Layer Security 1.3," in <i>Proc. of Int. SoC Design Conf. (ISOCC)</i>, Jeju Island, South Korea, Oct. 2021, pp. 17-18. <a href="https://doi.org/10.1109/ISOCC53507.2021.9614016">[DOI]</a>
  </p></div>
  <div class="num">
    [C.31]
  </div><div class="text"><p>
    Ronaldo Serrano, Marco Sarmiento, Ckristian Duran, Khai-Duy Nguyen, <u>Trong-Thuc Hoang</u>, Koichiro Ishibashi, and Cong-Kha Pham, "A Low-Power Low-Area SoC based in RISC-V Processor for IoT Applications," in <i>Proc. of Int. SoC Design Conf. (ISOCC)</i>, Jeju Island, South Korea, Oct. 2021, pp. 375-376. <a href="https://doi.org/10.1109/ISOCC53507.2021.9613880">[DOI]</a>
  </p></div>
  <div class="num">
    [C.30]
  </div><div class="text"><p>
    Binh Kieu-Do-Nguyen, <u>Trong-Thuc Hoang</u>, Cong-Kha Pham, and Cuong Pham-Quoc, "A Power-efficient Implementation of SHA-256 Hash Function for Embedded Applications," in <i>Proc. of Int. Conf. on Advanced Tech. for Comm. (ATC)</i>, Hochiminh city, Vietnam, Oct. 2021, pp. 39-44. <a href="https://doi.org/10.1109/ATC52653.2021.9598264">[DOI]</a>
  </p></div>
  <div class="num">
    [C.29]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Ckristian Duran, Ronaldo Serrano, Marco Sarmiento, Khai-Duy Nguyen, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "System-on-Chip Implementation of Trusted Execution Environment with Heterogeneous Architecture," in <i>Proc. of IEEE Hot Chips Symp. (HCS)</i>, Palo Alto, CA, USA, Aug. 2021, pp. 1-16. <a href="https://doi.org/10.1109/HCS52781.2021.9566862">[DOI]</a>
  </p></div>
  <div class="num">
    [C.28]
  </div><div class="text"><p>
    Khai-Duy Nguyen, Dang Tuan Kiet, <u>Trong-Thuc Hoang</u>, Nguyen Quang Nhu Quynh, and Cong-Kha Pham, "A CORDIC-based Trigonometric Hardware Accelerator with Custom Instruction in 32-bit RISC-V System-on-Chip," in <i>Proc. of IEEE Hot Chips Symp. (HCS)</i>, Palo Alto, CA, USA, Aug. 2021, pp. 1-13. <a href="https://doi.org/10.1109/HCS52781.2021.9567158">[DOI]</a>
  </p></div>
  <div class="num">
    [J.19]
  </div><div class="text"><p>
    Khai-Duy Nguyen, Dang Tuan Kiet, <u>Trong-Thuc Hoang</u>, Nguyen Quang Nhu Quynh, Xuan-Tu Tran, and Cong-Kha Pham, "A Trigonometric Hardware Acceleration in 32-bit RISC-V Microcontroller with Custom Instruction," in <i>IEICE Electronics Express (ELEX)</i>, vol. 18, no. 16, pp. 20210266, Aug. 2021. <a href="https://doi.org/10.1587/ELEX.18.20210266">[DOI]</a>
  </p></div>
  <div class="num">
    [J.18]
  </div><div class="text"><p>
    Dang Tuan Kiet, Binh Kieu-Do-Nguyen, <u>Trong-Thuc Hoang</u>, Khai-Duy Nguyen, Xuan-Tu Tran, and Cong-Kha Pham, "A Proposal for Enhancing Training Speed in Deep Learning Models Based on Memory Activity Survey," in <i>IEICE Electronics Express (ELEX)</i>, vol. 18, no. 15, pp. 20210252, Aug. 2021. <a href="https://doi.org/10.1587/ELEX.18.20210252">[DOI]</a>
  </p></div>
  <div class="num">
    [J.17]
  </div><div class="text"><p>
    Ronaldo Serrano, Ckristian Duran, <u>Trong-Thuc Hoang</u>, Marco Sarmiento, Khai-Duy Nguyen, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "A Fully Digital True Random Number Generator with Entropy Source Based in Frequency Collapse," in <i>IEEE Access</i>, vol. 9, pp. 105748-105755, Jul. 2021. <a href="https://doi.org/10.1109/ACCESS.2021.3099534">[DOI]</a>
  </p></div>
  <div class="num">
    [J.16]
  </div><div class="text"><p>
    Marco Sarmiento, Khai-Duy Nguyen, Ckristian Duran, <u>Trong-Thuc Hoang</u>, Ronaldo Serrano, Van-Phuc Hoang, Xuan-Tu Tran, Ishibashi Koichiro, and Cong-Kha Pham, "A Sub-μW Reversed-Body-Bias 8-bit Processor on 65-nm Silicon-On-Thin-Box (SOTB) for IoT Applications," in <i>IEEE Trans. on Circ. and Syst. II: Express Briefs (TCAS-II)</i>, vol. 68, no. 9, pp. 3182-3186, Jun. 2021. <a href="https://doi.org/10.1109/TCSII.2021.3090102">[DOI]</a>
  </p></div>
  <div class="num">
    [J.15]
  </div><div class="text"><p>
    Ba-Anh Dao, <u>Trong-Thuc Hoang</u>, Anh-Tien Le, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "Exploiting the Back-Gate Biasing Technique as a Countermeasure Against Power Analysis Attacks," in <i>IEEE Access</i>, vol. 9, pp. 24768-24786, Feb. 2021. <a href="https://doi.org/10.1109/ACCESS.2021.3057369">[DOI]</a>
  </p></div>
</div>
<h3 id="2020">
  2020
</h3>
<div class="ref">
  <div class="num">
    [O.3]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Ckristian Duran, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "Trusted Execution Environment (TEE) on Open-source RISC-V Processor System," in <i>Proc. of Vietnamese Academic Network in Japan (VANJ)</i>, Tokyo, Japan, Nov. 2020. <a href="/assets/pp/2020_VANJ.pdf">[PDF]</a>
  </p></div>
  <div class="num">
    [J.14]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Ckristian Duran, Khai-Duy Nguyen, Tuan-Kiet Dang, Quynh Nguyen Quang Nhu, Phuc-Hong Than, Xuan-Tu Tran, Duc-Hung Le, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "Low-power High-performance 32-bit RISC-V Microcontroller on 65-nm Silicon-On-Thin-BOX (SOTB)," in <i>IEICE Electronics Express (ELEX)</i>, vol. 17, no. 20, pp. 20200282, Oct. 2020. <a href="https://doi.org/10.1587/elex.17.20200282">[DOI]</a>
  </p></div>
  <div class="num">
    [C.27]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Ckristian Duran, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "Cryptographic Accelerators for Trusted Execution Environment in RISC-V Processor," in <i>Proc. of IEEE Int. Symp. on Circ. and Syst. (ISCAS)</i>, Seville, Spain, Oct. 2020, pp. 1-4. <a href="https://doi.org/10.1109/ISCAS45731.2020.9180551">[DOI]</a>
  </p></div>
  <div class="num">
    [C.26]
  </div><div class="text"><p>
    Ba-Anh Dao, Anh-Tien Le, <u>Trong-Thuc Hoang</u>, Akira Tsukamoto, Kuniyasu Suzaki and Cong-Kha Pham, "Dynamic Frequency Scaling as a Countermeasure Against Simple Power Analysis Attack in RISC-V Processors," in <i>Proc. of Int. Workshop on Secure RISC-V Arch. Design Exploration (SECRISC-V)</i>, Boston, MA, USA, Aug. 2020, pp. 1-4. <a href="/assets/pp/SECRISCV2020.pdf">[PDF]</a>
  </p></div>
  <div class="num">
    [C.25]
  </div><div class="text"><p>
    Ckristian Duran, <u>Trong-Thuc Hoang</u>, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "TEE Boot Procedure with Crypto-accelerators in RISC-V Processors," in <i>Proc. of Workshop on Computer Arch. Research with RISC-V (CARRV)</i>, Virtual Event, May. 2020, pp. 1-4. <a href="/assets/pp/CARRV2020.pdf">[PDF]</a>
  </p></div>
  <div class="num">
    [J.13]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Ckristian Duran, Duc-Thinh Nguyen-Hoang, Duc-Hung Le, Akira Tsukamoto, Kuniyasu Suzaki, and Cong-Kha Pham, "Quick Boot of Trusted Execution Environment with Hardware Accelerators," in <i>IEEE Access</i>, vol. 8, pp. 74015-74023, Apr. 2020. <a href="https://doi.org/10.1109/ACCESS.2020.2987617">[DOI]</a>
  </p></div>
  <div class="num">
    [J.12]
  </div><div class="text"><p>
    Xuan-Thuan Nguyen, <u>Trong-Thuc Hoang</u>, Hong-Thu Nguyen, Katsumi Inoue, and Cong-Kha Pham, "A 0.9-V 50-MHz 256-bit 1D-to-2D-based Single/Multi-match Priority Encoder with 0.67-nW Standby Power on 65-nm SOTB CMOS," in <i>Microprocessors and Microsystems</i>, vol. 73, pp. 102970, Mar. 2020. <a href="https://doi.org/10.1016/j.micpro.2019.102970">[DOI]</a>
  </p></div>
</div>
<h3 id="2019">
  2019
</h3>
<div class="ref">
  <div class="num">
    [C.24]
  </div><div class="text"><p>
    Akinori Yamamoto, <u>Trong-Thuc Hoang</u>, and Cong-Kha Pham, "A Ring Oscillator Using Bootstrap Inverter," in <i>Proc. of IEEE SOI-3D-Subthreshold Microelec. Tech. Unified Conf. (S3S)</i>, San Jose, California, USA, Oct. 2019, pp. 1-2. <a href="https://doi.org/10.1109/S3S46989.2019.9320679">[DOI]</a>
  </p></div>
  <div class="num">
    [C.23]
  </div><div class="text"><p>
    Ngoc-Tu Bui, <u>Trong-Thuc Hoang</u>, Akinori Yamamoto, Duc-Hung Le, and Cong-Kha Pham, "A 0.75-V 58-MHz 340-μW SOTB-65nm 32-point DCT Implementation Based on Fixed-rotation Adaptive CORDIC," in <i>Proc. of IEEE SOI-3D-Subthreshold Microelec. Tech. Unified Conf. (S3S)</i>, San Jose, California, USA, Oct. 2019, pp. 1-3. <a href="https://doi.org/10.1109/S3S46989.2019.9320693">[DOI]</a>
  </p></div>
  <div class="num">
    [J.11]
  </div><div class="text"><p>
    Xuan-Thuan Nguyen, <u>Trong-Thuc Hoang</u>, Hong-Thu Nguyen, Katsumi Inoue, and Cong-Kha Pham, "A 1.2-V 162.9-pJ/cycle Bitmap Index Creation Core with 0.31-pW/bit Standby Power on 65-nm SOTB," in <i>Microprocessors and Microsystems</i>, vol. 69, pp. 112-117, Sep. 2019. <a href="https://doi.org/10.1016/j.micpro.2019.05.008">[DOI]</a>
  </p></div>
  <div class="num">
    [J.10]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Xuan-Thuan Nguyen, Duc-Hung Le, and Cong-Kha Pham, "Low-Power Floating-Point Adaptive-CORDIC-Based FFT Twiddle Factor on 65-nm Silicon-on-Thin-BOX (SOTB) With Back-Gate Bias," in <i>IEEE Trans. on Circ. and Syst. II: Express Briefs (TCAS-II)</i>, vol. 66,  no. 10, pp. 1723-1727, Jul. 2019. <a href="https://doi.org/10.1109/tcsii.2019.2928138">[DOI]</a>
  </p></div>
  <div class="num">
    [J.9]
  </div><div class="text"><p>
    Duc-Hung Le, <u>Trong-Thuc Hoang</u>, and Cong-Kha Pham, "A 1.05-V 62-MHz with 0.12-nW Standby Power SOTB-65nm Chip of 32-point DCT Based on Adaptive CORDIC," in <i>IEICE Electronics Express (ELEX)</i>, vol. 16, no. 10, pp. 20190116, May 2019. <a href="https://doi.org/10.1587/elex.16.20190116">[DOI]</a>
  </p></div>
  <div class="num">
    [C.22]
  </div><div class="text"><p>
    Xuan-Thuan Nguyen, <u>Trong-Thuc Hoang</u>, Katsumi Inoue, Ngoc-Tu Bui, Van-Phuc Hoang, and Cong-Kha Pham, "A 1.2-V 90-MHz Bitmap Index Creation Accelerator with 0.27-nW Standby Power on 65-nm Silicon-On-Thin-Box (SOTB) CMOS," in <i>Proc. of IEEE Int. Symp. on Circ. and Syst. (ISCAS)</i>, Sapporo, Japan, May 2019, pp. 1-4. <a href="https://doi.org/10.1109/ISCAS.2019.8702331">[DOI]</a>
  </p></div>
  <div class="num">
    [C.21]
  </div><div class="text"><p>
    Takahiro Hosaka, <u>Trong-Thuc Hoang</u>, Van-Phuc Hoang, Duc-Hung Le, Katsumi Inoue, and Cong-Kha Pham, "Live Demonstration: Real-time Auto-exposure Histogram Equalization Video-system Using Frequent Items Counter," in <i>Proc. of IEEE Int. Symp. on Circ. and Syst. (ISCAS)</i>, Sapporo, Japan, May 2019, pp. 1-1. <a href="https://doi.org/10.1109/ISCAS.2019.8702167">[DOI]</a>
  </p></div>
  <div class="num">
    [J.8]
  </div><div class="text"><p>
    Xuan-Thuan Nguyen, <u>Trong-Thuc Hoang</u>, Hong-Thu Nguyen, Katsumi Inoue, and Cong-Kha Pham, "An Efficient I/O Architecture for RAM-based Content-Addressable Memory on FPGA," in <i>IEEE Tran. on Circ. and Syst. II: Express Briefs (TCAS-II)</i>, vol. 66, no. 3, pp. 472-476, Mar. 2019. <a href="https://doi.org/10.1109/TCSII.2018.2849925">[DOI]</a>
  </p></div>
  <div class="num">
    [C.20]
  </div><div class="text"><p>
    Ngoc-Tu Bui, <u>Trong-Thuc Hoang</u>, Duc-Hung Le, and Cong-Kha Pham, "A 0.75-V 32-MHz 181-μW SOTB-65nm Floating-point Twiddle Factor Using Adaptive CORDIC," in <i>Proc. of IEEE Int. Conf. on Industrial Tech. (ICIT)</i>, Melbourne, Australia, Feb. 2019, pp. 835-840. <a href="https://doi.org/10.1109/ICIT.2019.8754955">[DOI]</a>
  </p></div>
</div>
<h3 id="2018">
  2018
</h3>
<div class="ref">
  <div class="num">
    [J.7]
  </div><div class="text"><p>
    Katsumi Inoue, <u>Trong-Thuc Hoang</u>, and Cong-Kha Pham, "Frequent Items Counter Based on Binary Decoders," in <i>IEICE Electronics Express (ELEX)</i>, vol. 15, no. 20, pp. 20180808, Oct. 2018. <a href="https://doi.org/10.1587/elex.15.20180808">[DOI]</a>
  </p></div>
  <div class="num">
    [C.19]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Duc-Hung Le, and Cong-Kha Pham, "VLSI Design of Floating-point Twiddle Factor Using Adaptive CORDIC on Various Iteration Limitations (Invited paper)," in <i>Proc. of IEEE Int. Symp. on Embedded Multicore/Manycore SoCs (MCSoC)</i>, Hanoi, Vietnam, Sep. 2018, pp. 225-232. <a href="https://doi.org/10.1109/MCSoC2018.2018.00044">[DOI]</a>
  </p></div>
  <div class="num">
    [C.18]
  </div><div class="text"><p>
    Katsumi Inoue, <u>Trong-Thuc Hoang</u>, Xuan-Thuan Nguyen, Hong-Thu Nguyen, and Cong-Kha Pham, "VLSI Design of Frequent Items Counting Using Binary Decoders Applied to 8-bit per Item Case-study," in <i>Proc. of Conf. on PhD Research in Microelec. and Elec. (PRIME)</i>, Prague, Czech Republic, Jul. 2018, pp. 161-164. <a href="https://doi.org/10.1109/PRIME.2018.8430308">[DOI]</a>
  </p></div>
  <div class="num">
    [J.6]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Duc-Hung Le, and Cong-Kha Pham, "Minimum Adder-delay Architecture of 8/16/32-point DCT Based on Fixed-rotation Adaptive CORDIC," in <i>IEICE Electronics Express (ELEX)</i>, vol. 15, no. 10, pp. 20180302, May 2018. <a href="https://doi.org/10.1587/elex.15.20180302">[DOI]</a>
  </p></div>
  <div class="num">
    [C.17]
  </div><div class="text"><p>
    Xuan-Thuan Nguyen, <u>Trong-Thuc Hoang</u>, Hong-Thu Nguyen, Katsumi Inoue, and Cong-Kha Pham, "A 219-μW 1D-to-2D-Based Priority Encoder on 65-nm SOTB CMOS," in <i>Proc. of IEEE Int. Symp. on Circ. and Syst. (ISCAS)</i>, Florence, Italy, May 2018, pp. 1-4. <a href="https://doi.org/10.1109/ISCAS.2018.8351406">[DOI]</a>
  </p></div>
  <div class="num">
    [C.16]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Cong-Kha Pham, and Duc-Hung Le, "High-speed 8/16/32-point DCT Architecture Using Fixed-rotation Adaptive CORDIC," in <i>Proc. of IEEE Int. Symp. on Circ. and Syst. (ISCAS)</i>, Florence, Italy, May 2018, pp. 1-5. <a href="https://doi.org/10.1109/ISCAS.2018.8351090">[DOI]</a>
  </p></div>
  <div class="num">
    [O.2]
  </div><div class="text"><p>
    Katsumi Inoue, <u>Trong-Thuc Hoang</u>, Xuan-Thuan Nguyen, Hong-Thu Nguyen, and Cong-Kha Pham, "High-speed Hardware Implementation of 8-bit per Item Frequent Items Counter," in <i>Proc. of IEEE Symp. on Low-power and High-speed Chips and Syst. (COOLChips)</i>, Yokohama, Japan, Apr. 2018, pp. 1-2. <a href="/assets/pp/2018_COOLCHIPS.pdf">[PDF]</a>
  </p></div>
  <div class="num">
    [J.5]
  </div><div class="text"><p>
    Xuan-Thuan Nguyen, <u>Trong-Thuc Hoang</u>, Hong-Thu Nguyen, Katsumi Inoue, and Cong-Kha Pham, "An FPGA-Based Hardware Accelerator for Energy-Efficient Bitmap Index Creation," in <i>IEEE Access</i>, vol. 6, pp. 16046-16059, Mar. 2018. <a href="https://doi.org/10.1109/ACCESS.2018.2816039">[DOI]</a>
  </p></div>
  <div class="num">
    [J.4]
  </div><div class="text"><p>
    Hong-Thu Nguyen, Xuan-Thuan Nguyen, <u>Trong-Thuc Hoang</u>, and Cong-Kha Pham, "A CORDIC-based QR Decomposition for MIMO Signal Detector," in <i>IEICE Electronics Express (ELEX)</i>, vol. 15, no. 6, pp. 20180174, Mar. 2018. <a href="https://doi.org/10.1587/elex.15.20180174">[DOI]</a>
  </p></div>
</div>
<h3 id="2017">
  2017
</h3>
<div class="ref">
  <div class="num">
    [C.15]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Xuan-Thuan Nguyen, Hong-Thu Nguyen, Nhu-Quynh Truong, Duc-Hung Le, Katsumi Inoue, and Cong-Kha Pham, "FPGA-based Frequent Items Counting Using Matrix of Equality Comparators," in <i>Proc. of IEEE Int. Midwest Symp. on Circ. and Syst. (MWCAS)</i>, Boston, USA, Aug. 2017, pp. 285-288. <a href="https://doi.org/10.1109/MWSCAS.2017.8052916">[DOI]</a>
  </p></div>
  <div class="num">
    [C.14]
  </div><div class="text"><p>
    Phuong-Thao Vo-Thi, <u>Trong-Thuc Hoang</u>, Cong-Kha Pham, and Duc-Hung Le, "A Floating-point FFT Twiddle Factor Implementation Based on Adaptive Angle Recoding CORDIC," in <i>Proc. of Int. Conf. on Recent Advances on Signal Processing, Telecomm. & Computing (SigTelCom)</i>, Danang, Vietnam, Jan. 2017, pp. 21-26. <a href="https://doi.org/10.1109/SIGTELCOM.2017.7849789">[DOI]</a>
  </p></div>
</div>
<h3 id="2016">
  2016
</h3>
<div class="ref">
  <div class="num">
    [J.3]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Ngoc-Hung Nguyen, and Trong-Tu Bui, "An FPGA-based Implementation of FastICA for Variable-length 4-channel Signal Separation," in <i>Journal of Science & Tech. on Info. and Comm.</i>, vol. 1, no. 1, pp. 81–87, 2016. <a href="/assets/pp/2016_JSTIC.pdf">[PDF]</a>
  </p></div>
  <div class="num">
    [C.13]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Hong-Thu Nguyen, Xuan-Thuan Nguyen, Cong-Kha Pham, and Duc-Hung Le, "High-performance DCT Architecture Based on Angle Recoding CORDIC and Scale-free Factor," in <i>Proc. of IEEE Int. Conf. on Comm. and Elec. (ICCE)</i>, Halong, Vietnam, Jul. 2016, pp. 199–204. <a href="https://doi.org/10.1109/CCE.2016.7562636">[DOI]</a>
  </p></div>
  <div class="num">
    [C.12]
  </div><div class="text"><p>
    Xuan-Thuan Nguyen, Hong-Thu Nguyen, <u>Trong-Thuc Hoang</u>, Katsumi Inoue, Osamu Shimojo, Toshio Murayama, Kenji Tominaga, and Cong-Kha Pham, "An efficient FPGA-based Database Processor for Fast Database Analytics," in <i>Proc. of IEEE Int. Symp. on Circ. and Syst. (ISCAS)</i>, Montreal, Canada, May 2016, pp. 1758–1761. <a href="https://doi.org/10.1109/ISCAS.2016.7538908">[DOI]</a>
  </p></div>
  <div class="num">
    [C.11]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Duc-Hung Le, Hong-Thu Nguyen, Xuan-Thuan Nguyen, and Cong-Kha Pham, "A Hybrid Adaptive CORDIC in 65nm SOTB CMOS Process," in <i>Proc. of IEEE Int. Symp. on Circ. and Syst. (ISCAS)</i>, Montreal, Canada, May 2016, pp. 2158–2161. <a href="https://doi.org/10.1109/ISCAS.2016.7539008">[DOI]</a>
  </p></div>
  <div class="num">
    [C.10]
  </div><div class="text"><p>
    Hong-Thu Nguyen, Xuan-Thuan Nguyen, Cong-Kha Pham, <u>Trong-Thuc Hoang</u>, and Duc-Hung Le, "A Parallel Pipeline CORDIC Based on Adaptive Angle Selection," in <i>Proc. of Int. Conf. on Elec., Info., and Comm. (ICEIC)</i>, Danang, Vietnam, Jan. 2016, pp. 1–4. <a href="https://doi.org/10.1109/ELINFOCOM.2016.7563034">[DOI]</a>
  </p></div>
</div>
<h3 id="2015">
  2015
</h3>
<div class="ref">
  <div class="num">
    [C.9]
  </div><div class="text"><p>
    Xuan-Thuan Nguyen, Hong-Thu Nguyen, <u>Trong-Thuc Hoang</u>, Katsumi Inoue, Osamu Shimojo, Toshio Murayama, Kenji Tominaga, and Cong-Kha Pham, "Database Processor (DBP) - A New Search Engine for the Big Data Era," in <i>Proc. of IEICE Int. Conf. on Integrated Circ. and Devices in Vietnam (ICDV)</i>, Hochiminh city, Vietnam, 2015, pp. 9-14. <a href="/assets/pp/2015_ICDV.pdf">[PDF]</a>
  </p></div>
  <div class="num">
    [C.8]
  </div><div class="text"><p>
    Hong-Thu Nguyen, Xuan-Thuan Nguyen, Cong-Kha Pham, <u>Trong-Thuc Hoang</u>, and Duc-Hung Le, "A Low-resource Low-latency Hybrid Adaptive CORDIC in 180-nm CMOS Technology," in <i>Proc. of IEEE Region 10 Conf. (TENCON)</i>, Singapore, Singapore, Nov. 2015, pp. 1–4. <a href="https://doi.org/10.1109/TENCON.2015.7372987">[DOI]</a>
  </p></div>
  <div class="num">
    [J.2]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Hong-Kiet Su, Hieu-Binh Nguyen, Duc-Hung Le, Huu-Thuan Huynh, Trong-Tu Bui, and Cong-Kha Pham, "Design of Co-processor for Real-time HMM-based Text-to-speech on Hardware System Applied to Vietnamese," in <i>IEICE Electronics Express (ELEX)</i>, vol. 12, no. 14, pp. 20150448, Jul. 2015. <a href="https://doi.org/10.1587/elex.12.20150448">[DOI]</a>
  </p></div>
  <div class="num">
    [J.1]
  </div><div class="text"><p>
    Hong-Thu Nguyen, Xuan-Thuan Nguyen, <u>Trong-Thuc Hoang</u>, Duc-Hung Le, and Cong-Kha Pham, "Low-resource Low-latency Hybrid Adaptive CORDIC with Floating-point Precision," in <i>IEICE Electronics Express (ELEX)</i>, vol. 12, no. 9, pp. 20150258, May 2015. <a href="https://doi.org/10.1587/elex.12.20150258">[DOI]</a>
  </p></div>
</div>
<h3 id="2014">
  2014
</h3>
<div class="ref">
  <div class="num">
    [C.7]
  </div><div class="text"><p>
    Dinh-Thien Vu, <u>Trong-Thuc Hoang</u>, Ngoc-Hung Nguyen, and Trong-Tu Bui, "An FPGA-based Variable-length 4-Channel Separation FastICA Implementation," in <i>Proc. of IEICE Int. Conf. on Integrated Circ. and Devices in Vietnam (ICDV)</i>, Hanoi, Vietnam, Nov. 2014, pp. 141-146. <a href="/assets/pp/2014_ICDV.pdf">[PDF]</a>
  </p></div>
  <div class="num">
    [C.6]
  </div><div class="text"><p>
    Xuan-Vy Luu, <u>Trong-Thuc Hoang</u>, Trong-Tu Bui, and Anh-Vu Dinh-Duc, "A High-speed Unsigned 32-bit Multiplier Based on Booth-encoder and Wallace-tree Modifications," in <i>Proc. of Int. Conf. on Advanced Tech. for Comm. (ATC)</i>, Hanoi, Vietnam, Oct. 2014, pp. 739–744. <a href="https://doi.org/10.1109/ATC.2014.7043485">[DOI]</a>
  </p></div>
  <div class="num">
    [C.5]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Quang-Trung Tran, and Trong-Tu Bui, "A Proposed Adaptive Image Segmentation Method Based on Local Excitatory Global Inhibitory Region Growing," in <i>Proc. of IEEE Int. Conf. on Comm. and Elec. (ICCE)</i>, Danang, Vietnam, Jul. 2014, pp. 458–463. <a href="https://doi.org/10.1109/CCE.2014.6916748">[DOI]</a>
  </p></div>
  <div class="num">
    [O.1]
  </div><div class="text"><p>
     Đàm Quang Linh, <u>Hoàng Trọng Thức</u>, Bùi Trọng Tú, and Đinh-Đức Anh-Vũ, "Hiện Thực và So Sánh các Thiết Kế FFT 2048 Điểm Xây Dựng trên Nền Tảng FPGA," in <i>Proc. of Hội Thảo Quốc Gia về Điện Tử, Truyền Thông, và Công Nghệ Thông Tin (REV-ECIT)</i>, Nhatrang, Vietnam, 2014, pp. 260–265. <a href="/assets/pp/2014_REV_ECIT.pdf">[PDF]</a>
  </p></div>
</div>
<h3 id="2013">
  2013
</h3>
<div class="ref">
  <div class="num">
    [C.4]
  </div><div class="text"><p>
    Thai-Bao Huynh, <u>Trong-Thuc Hoang</u>, and Trong-Tu Bui, "A Constraint-based Watermarking Technique Using Schmitt Trigger Insertion at Logic Synthesis Level," in <i>Proc. of Int. Conf. on Advanced Tech. for Comm. (ATC)</i>, Hochiminh city, Vietnam, Oct. 2013, pp. 115–120. <a href="https://doi.org/10.1109/ATC.2013.6698089">[DOI]</a>
  </p></div>
  <div class="num">
    [C.3]
  </div><div class="text"><p>
    Kim-Hung Nguyen, <u>Trong-Thuc Hoang</u>, and Trong-Tu Bui, "An FSM-based IP Protection Technique Using Added Watermarked States," in <i>Proc. of Int. Conf. on Advanced Tech. for Comm. (ATC)</i>, Hochiminh city, Vietnam, Oct. 2013, pp. 718–723. <a href="https://doi.org/10.1109/ATC.2013.6698210">[DOI]</a>
  </p></div>
</div>
<h3 id="2012">
  2012
</h3>
<div class="ref">
  <div class="num">
    [C.2]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Vi-Thuy Tran, Thanh Le, Minh-Triet Luu, Cao-Quyen Tran, Xuan-Thuan Nguyen, and Trong-Tu Bui, "A Case Study of Connect6 Game FPGA-based Implementation Using the Multi-turn Prediction Algorithm," in <i>Proc. of IEEE Int. Symp. on Signal Processing and Info. Tech. (ISSPIT)</i>, Hochiminh city, Vietnam, Dec. 2012, pp. 1-6. <a href="/assets/pp/2012_ISSPIT.pdf">[PDF]</a>
  </p></div>
  <div class="num">
    [C.1]
  </div><div class="text"><p>
    <u>Trong-Thuc Hoang</u>, Ngoc-Hung Nguyen, Xuan-Thuan Nguyen, and Trong-Tu Bui, "A Real-time Object-recognition System Based on PCNN Algorithm," in <i>Proc. of IEICE Int. Conf. on Integrated Circ. and Devices in Vietnam (ICDV)</i>, no. 2, Danang, Vietnam, Aug. 2012, pp. 155–160. <a href="/assets/pp/2012_ICDV.pdf">[PDF]</a>
  </p></div>
</div>
