<p>
  <font size="+1"><b>
    TEE-HW: Trusted Execution Environment (TEE) Hardware System
  </b></font><br>
  Guide on how to make (and boot to Linux) the TEE-HW system with various security features.
  <ul>
    <li>TEE-HW with cryptographic accelerators</li>
    <li>TEE-HW with Isolated Root-of-Trust (RoT)</li>
  </ul>
</p><br>
<p>
  <font size="+1"><b>
    Keystone: Trusted Execution Environment (TEE) Software Framework
  </b></font><br>
  Guide on how to make a Linux root filesystem with TEE for RISC-V.
  <ul>
    <li>Using Makefile
      <ul>
        <li><a href="./project/2020/07/24/Keystone-makefile-64">64-bit build</a></li>
        <li><a href="./project/2020/07/24/Keystone-makefile-32">32-bit build</a></li>
      </ul>
    </li>
    <li>Using CMake
      <ul>
        <li><a href="./project/2020/11/12/Keystone-cmake-64">64-bit build</a></li>
        <li><a href="./project/2020/11/05/Keystone-cmake-32">32-bit build</a></li>
      </ul>
    </li>
    <li><a href="./project/2020/07/11/keystone-ethernet-driver">Ethernet drivers</a></li>
  </ul>
</p><br>
<p>
  <font size="+1"><b>
    SiFive Freedom on VC707
  </b></font><br>
  Guide on how to make (and boot to Linux) the Rocket-chip computer system, tested on VC707.
  <ul>
    <li><a href="./project/2020/07/24/sifive-freedom">SiFive Freedom</a></li>
    <li><a href="./project/2020/07/24/vc707-program-debug">VC707: program & debug guide</a></li>
    <li><a href="./project/2020/04/27/freedom-chisel">Chisel code structure</a></li>
  </ul>
</p><br>
<p>
  <font size="+1"><b>
    VexRiscv: A 32-bit RISC-V Microcontroller
  </b></font><br>
  Guide on how to make a simple 32-bit RISC-V MCU.
  <ul>
    <li><a href="./project/2020/07/23/VexRiscv">VexRiscv MCU</a></li>
  </ul>
</p><br>
<p>
  <font size="+1"><b>
    Image Processing
  </b></font><br>
  Small projects related to image processing.
  <ul>
    <li>Egomotion</li>
    <li>JPEG</li>
    <li>Camera</li>
    <li>ALEGIR</li>
    <li>PCNN</li>
  </ul>
</p><br>
<p>
  <font size="+1"><b>
    Signal Processing
  </b></font><br>
  Small projects related to signal processing.
  <ul>
    <li>DCT</li>
    <li>FFT</li>
    <li>CORDIC</li>
  </ul>
</p><br>
<p>
  <font size="+1"><b>
    Other
  </b></font><br>
  Other small projects.
  <ul>
    <li>MBW Multiplier</li>
    <li>Connect6</li>
  </ul>
</p>
