<p>
  <font size="+1"><b>
    Digital Design Courses
  </b></font><br>
  From studying Verilog and CHISEL to creating a custom computer system with simple C/C++ executions.
  <ul>
    <li><b>01: </b>Digital Design with Verilog</li>
    <li><b>02: </b><a href="./teaching/2022/12/30/RISC-V-CHISEL">Hardware Design with CHISEL</a></li>
    <li><b>03: </b>Embedded System on FPGA</li>
    <li><b>04: </b><a href="./teaching/2022/12/30/RISC-V-Integration">RISC-V Computer System Integration</a></li>
  </ul>
</p>
<p>
  <font size="+1"><b>
    CMOS Circuit and System Courses
  </b></font><br>
  From the basic concept of CMOS and power-and-delay estimation to complex System-on-Chip (SoC) implementation.
  <ul>
    <li><b>01: </b>VLSI Design</li>
    <li><b>02: </b><a href="./teaching/2022/12/30/RISC-V-VLSI">Advanced VLSI Design with RISC-V SoC</a></li>
  </ul>
</p>
<p>
  <font size="+1"><b>
    RISC-V Courses
  </b></font><br>
  Collection of courses related to RISC-V, from simple integration to advanced topics such as VLSI and Cyber-security.
  <ul>
    <li><b>01: </b><a href="./teaching/2022/12/30/RISC-V-CHISEL">Hardware Design with CHISEL</a></li>
    <li><b>02: </b><a href="./teaching/2022/12/30/RISC-V-Integration">RISC-V Computer System Integration</a></li>
    <li><b>03: </b>Studying RISC-V RV32I Assembly Coding</li>
    <li><b>04: </b><a href="./teaching/2022/12/30/RISC-V-Linux">Linux on RISC-V</a></li>
    <li><b>05: </b><a href="./teaching/2022/12/30/RISC-V-VLSI">Advanced VLSI Design with RISC-V SoC</a></li>
    <li><b>06: </b><a href="./teaching/2022/12/30/RISC-V-CyberSecurity">Cyber-security with RISC-V Computer System</a></li>
  </ul>
</p><br>
<p>
  <font size="+1"><b>
    Assembly Coding Courses
  </b></font><br>
  Learning to code assembly with NiosII and RISC-V processors.
  <ul>
    <li><b>01: </b>Studying Altera NiosII Assembly Coding</li>
    <li><b>02: </b>Studying RISC-V RV32I Assembly Coding</li>
  </ul>
</p><br>
<p>
  <font size="+1"><b>
    Matlab and Digital Signal Processing (DSP) Courses
  </b></font><br>
  Exercises for new learners using the Matlab tool and practice with DSP applications.
  <ul>
    <li><b>01: </b>Matlab and DSP</li>
  </ul>
</p><br>
