<p>
  <font size="+1"><b>
    RISC-V Courses
  </b></font><br>
  <ul>
    <li><b>01: </b><a href="./teaching/2022/12/30/RISC-V-Integration">RISC-V Computer System Integration</a></li>
    <li><b>02: </b><a href="./teaching/2022/12/30/RISC-V-CHISEL">Hardware Design with CHISEL</a></li>
    <li><b>03: </b><a href="./teaching/2022/12/30/RISC-V-Linux">Linux on RISC-V</a></li>
    <li><b>04: </b><a href="./teaching/2022/12/30/RISC-V-VLSI">VLSI Design with RISC-V SoC</a></li>
    <li><b>05: </b><a href="./teaching/2022/12/30/RISC-V-CyberSecurity">Cyber-security with RISC-V Computer System</a></li>
  </ul>
</p><br>
<p>
  <font size="+1"><b>
    Matlab and Digital Signal Processing (DSP) Courses
  </b></font><br>
  Exercises for new learners using the Matlab tool, practice with DSP applications.
</p><br>
<p>
  <font size="+1"><b>
    Computer Architecture Courses
  </b></font><br>
  From studying the Verilog coding to assembly coding. And finally, learn how to create a custom computer system and then program C/C++ on it.
  <ul>
    <li><b>Verilog course:</b> practices for new learners in studying the Verilog HDL.</li>
    <li><b>Assembly course:</b> exercises assembly coding with the Altera's Nios-II processor.</li>
    <li><b>SoPC course:</b> making a custom hardware computer system with Nios-II and programming C/C++ on it.</li>
  </ul>
</p>
