<p>
  <font size="+1"><b>
    Digital Design (RISC-V edition) Courses
  </b></font><br>
  From making simple hardware with Verilog and CHISEL to a complete computer system integration.
  <ul>
    <li><b>01: </b>Digital Design with Verilog</li>
    <li><b>02: </b>Hardware Design with CHISEL</a></li>
    <li><b>03: </b><a href="./teaching/2025/08/17/SoC">Computer Design and SoC</li>
    <li><b>04: </b><a href="./teaching/2022/12/30/RISC-V-Integration">RISC-V Computer System Integration</a></li>
  </ul>
</p>
<p>
  <font size="+1"><b>
    Circuit and System Courses
  </b></font><br>
  From the basic concept of a CMOS circuit to complex System-on-Chip (SoC) implementation in ASIC.
  <ul>
    <li><b>01: </b>CMOS VLSI Design</li>
    <li><b>02: </b><a href="./teaching/2022/12/30/Advanced-VLSI">Advanced VLSI Design</a></li>
  </ul>
</p>
<p>
  <font size="+1"><b>
    Other Courses
  </b></font><br>
  Other courses.
  <ul>
    <li><b>01: </b>Matlab and DSP</li>
    <li><b>01: </b>Altera NiosII Assembly Coding</li>
    <li><b>02: </b>RISC-V RV32I Assembly Coding</li>
  </ul>
</p><br>
